<nav class="text-center mt-5">
  <h1 style="font-weight: 400;" class="mb-4">Tracking <em>R</em></h1>
  <h2 style="font-weight: 200;">Real-Time Estimates of the Effective Reproduction Rate (R ) of COVID-19</h2>
</nav>