<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container-fluid">
    <main>
      <p class="fs-3"><%= chartData.latestR %></p>
      
    </main>

  </body>
</html>
